<!DOCTYPE html>
<html lang="ru">
<head>
  <title>@SITE_NAME@ | События</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="Семейное дерево. Сайт создан при помощи программы Дерево Поколений">
  <meta name="author" content="Дерево Поколений">

  <!-- build:css css/vendors.min.css -->
  <!-- inject:css -->

  <link rel="stylesheet" href="asset/css/bootstrap.min.css">

  <link rel="stylesheet" href="asset/css/dataTables.bootstrap.min.css">

  <link rel="stylesheet" href="asset/css/colReorder.bootstrap.min.css">

  <link rel="stylesheet" href="asset/css/responsive.bootstrap.min.css">

  <link rel="stylesheet" href="asset/css/select.dataTables.min.css">

  <link rel="stylesheet" href="asset/css/buttons.dataTables.min.css">

  <link rel="stylesheet" href="asset/css/rowGroup.dataTables.min.css">

  <link rel="stylesheet" href="asset/css/bootstrap-treeview.min.css">

  <link rel="stylesheet" href="styles/font-awesome.min.css">

  <!-- endinject -->
  <!-- endbuild -->

  <!-- build:css css/styles.min.css -->
  <link rel="stylesheet" type="text/css" href="css/style.css" media="screen">
  <!-- endbuild -->
  <link rel="shortcut icon" href="images/gt_icon.png">
</head>

<body>

<!-- Container -->
<div id="container" class="boxed-page">
  <!-- Start Header -->

  <header class="clearfix">
    <!-- Start Header ( Logo & Naviagtion ) -->
    <div class="navbar navbar-default navbar-top">
      <div class="container">
        <div class="navbar-header">
          <!-- Start Toggle Nav Link For Mobiles -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <i class="fa fa-bars"></i>
          </button>
          <!-- End Toggle Nav Link For Mobiles -->
          <a class="navbar-brand" href="index.html">@SITE_NAME@</a>
        </div>
        <div class="navbar-collapse collapse">
          <!-- Start Navigation List -->
          <ul class="nav navbar-nav navbar-right">
            <li @MENU_MAIN@><a href="index.html">Главная</a></li>
            <li @MENU_PERS@><a href="persons.html">Персоны</a></li>
            <li @MENU_FAM@><a href="families.html">Семьи</a></li>
            <li @MENU_EVEN@><a href="events.html" class="active">События</a></li>
            <li @MENU_DOC@><a href="docs.html">Фотоальбом</a></li>
            <li @MENU_TREE@><a href="tree/trees.html">Полное Дерево</a></li>
            <li @MENU_INFO@><a href="stat.html">Статистика</a></li>
            <li @MENU_INFO@><a href="contact.html">Контакты</a></li>
          </ul>
          <!-- End Navigation List -->
        </div>
      </div>

      <!-- Mobile Menu Start -->
      <ul class="wpb-mobile-menu">
        <li @MENU_MAIN@><a href="index.html">Главная</a></li>
        <li @MENU_PERS@><a href="persons.html">Персоны</a></li>
        <li @MENU_FAM@><a href="families.html">Семьи</a></li>
        <li @MENU_EVEN@><a href="events.html" class="active">События</a></li>
        <li @MENU_DOC@><a href="docs.html">Фотоальбом</a></li>
        <li @MENU_TREE@><a href="tree/trees.html">Полное Дерево</a></li>
        <li @MENU_INFO@><a href="stat.html">Статистика</a></li>
        <li @MENU_INFO@><a href="contact.html">Контакты</a></li>
      </ul>
      <!-- Mobile Menu End -->

    </div>
    <!-- End Header ( Logo & Naviagtion ) -->

  </header>
  <!-- End Header -->

  <!-- Start Page Banner -->
  <div class="page-banner no-subtitle">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>События</h2>
          <p>Список событий персон</p>
        </div>
        <div class="col-md-6">
          <ul class="breadcrumbs">
            <li><a href="index.html">Главная</a></li>
            <li>События</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- End Page Banner -->

  <!-- Start Content -->
  <div id="content">
    <div class="container">
      <div class="page-content">
        <div>
          <table id="events" class="table table-striped table-bordered" style="width:100%">
            <thead>
            <tr>
              <th>Id</th>
              <th>Тип события</th>
              <th>Участник</th>
              <th>Дата</th>
              <th>Место</th>
              <th>Уровень конфид-ти</th>
              <th>Описание</th>
            </tr>
            </thead>
            <tbody>
            @EVEN_LIST@
            </tbody>
            <tfoot>
            <tr>
              <th>Id</th>
              <th>Тип события</th>
              <th>Участник</th>
              <th>Дата</th>
              <th>Место</th>
              <th>Достоверность</th>
              <th>Описание</th>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- End Content -->

  <!-- Start Footer -->
  <footer class="@FOOTER_SHOW@">
    <div class="container">
      <!-- Start Copyright -->
      <div class="copyright-section">
        <div class="row">
          <div class="col-xs-12">
            <p>Сайт создан с помощью программы <a href="https://generatree.com/ru">«Дерево Поколений»</a></p>
          </div>
        </div>
      </div>
      <!-- End Copyright -->
    </div>
  </footer>
  <!-- End Footer -->

</div>
<!-- End Container -->

<!-- Go To Top Link -->
<a href="#" class="back-to-top" title="Наверх"><i class="fa fa-angle-up"></i></a>

<!-- build:js js/vendors.min.js -->
<!-- inject:js -->

<script src="js/jquery-2.1.4.min.js"></script>

<script src="js/jquery.migrate.js"></script>

<script src="asset/js/bootstrap.min.js"></script>

<script src="js/jquery.dataTables.min.js"></script>

<script src="asset/js/dataTables.bootstrap.min.js"></script>

<script src="asset/js/dataTables.colReorder.min.js"></script>

<script src="asset/js/dataTables.responsive.min.js"></script>

<script src="asset/js/responsive.bootstrap.min.js"></script>

<script src="asset/js/dataTables.select.min.js"></script>

<script src="asset/js/dataTables.buttons.min.js"></script>

<script src="asset/js/buttons.colVis.min.js"></script>

<script src="asset/js/dataTables.rowGroup.min.js"></script>

<script src="js/owl.carousel.min.js"></script>

<script src="js/nivo-lightbox.min.js"></script>

<script src="js/jquery.slicknav.js"></script>

<script src="js/jquery.isotope.min.js"></script>

<script src="asset/js/bootstrap-treeview.min.js"></script>

<!-- endinject -->
<!-- endbuild -->

<!-- build:js js/scripts.min.js -->
<script src="js/scripts.js"></script>
<!-- endbuild -->

</body>

</html>

