<!DOCTYPE html>
<html lang="ru">
<head>
  <title>@SITE_NAME@ | Статистика</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="Семейное дерево. Сайт создан при помощи программы Дерево Поколений">
  <meta name="author" content="Дерево Поколений">

  <!-- build:css css/vendors.min.css -->
  <!-- inject:css -->

  <link rel="stylesheet" href="asset/css/bootstrap.min.css">

  <link rel="stylesheet" href="asset/css/dataTables.bootstrap.min.css">

  <link rel="stylesheet" href="asset/css/colReorder.bootstrap.min.css">

  <link rel="stylesheet" href="asset/css/responsive.bootstrap.min.css">

  <link rel="stylesheet" href="asset/css/select.dataTables.min.css">

  <link rel="stylesheet" href="asset/css/buttons.dataTables.min.css">

  <link rel="stylesheet" href="asset/css/rowGroup.dataTables.min.css">

  <link rel="stylesheet" href="asset/css/bootstrap-treeview.min.css">

  <link rel="stylesheet" href="styles/font-awesome.min.css">

  <!-- endinject -->
  <!-- endbuild -->

  <!-- build:css css/styles.min.css -->
  <link rel="stylesheet" type="text/css" href="css/style.css" media="screen">
  <!-- endbuild -->
  <link rel="shortcut icon" href="images/gt_icon.png">
</head>

<body>

<!-- Container -->
<div id="container" class="boxed-page">
  <!-- Start Header -->

  <header class="clearfix">
    <!-- Start Header ( Logo & Naviagtion ) -->
    <div class="navbar navbar-default navbar-top">
      <div class="container">
        <div class="navbar-header">
          <!-- Start Toggle Nav Link For Mobiles -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <i class="fa fa-bars"></i>
          </button>
          <!-- End Toggle Nav Link For Mobiles -->
          <a class="navbar-brand" href="index.html">@SITE_NAME@</a>
        </div>
        <div class="navbar-collapse collapse">
          <!-- Start Navigation List -->
          <ul class="nav navbar-nav navbar-right">
            <li @MENU_MAIN@><a href="index.html">Главная</a></li>
            <li @MENU_PERS@><a href="persons.html">Персоны</a></li>
            <li @MENU_FAM@><a href="families.html">Семьи</a></li>
            <li @MENU_EVEN@><a href="events.html">События</a></li>
            <li @MENU_DOC@><a href="docs.html">Фотоальбом</a></li>
            <li @MENU_TREE@><a href="tree/trees.html">Полное Дерево</a></li>
            <li @MENU_INFO@><a href="stat.html" class="active">Статистика</a></li>
            <li @MENU_INFO@><a href="contact.html">Контакты</a></li>
          </ul>
          <!-- End Navigation List -->
        </div>
      </div>

    </div>
    <!-- End Header ( Logo & Naviagtion ) -->

  </header>
  <!-- End Header -->

  <!-- Start Page Banner -->
  <div class="page-banner no-subtitle">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>Статистика</h2>
          <p>Статистика по базе данных</p>
        </div>
        <div class="col-md-6">
          <ul class="breadcrumbs">
            <li><a href="index.html">Главная</a></li>
            <li>Статистика</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- End Page Banner -->

  <!-- Start Content -->
  <div id="content">
    <div class="container">
      <div class="page-content">
        <table id="stat" class="table table-striped table-bordered" style="width:100%">
          <thead>
          <tr>
            <th></th>
            <th align="center">Всего</th>
            <th align="center">Мужчины</th>
            <th align="center">Женщины</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Количество персон</td>
            <td align="center">@STAT_1_1@</td>
            <td align="center">@STAT_1_2@</td>
            <td align="center">@STAT_1_3@</td>
          </tr>
          <tr>
            <td>Ныне живущих</td>
            <td align="center">@STAT_2_1@</td>
            <td align="center">@STAT_2_2@</td>
            <td align="center">@STAT_2_3@</td>
          </tr>
          <tr>
            <td>Средняя продолжительность жизни</td>
            <td align="center">@STAT_3_1@</td>
            <td align="center">@STAT_3_2@</td>
            <td align="center">@STAT_3_3@</td>
          </tr>
          <tr>
            <td>Средний возраст</td>
            <td align="center">@STAT_4_1@</td>
            <td align="center">@STAT_4_2@</td>
            <td align="center">@STAT_4_3@</td>
          </tr>
          <tr>
            <td>Среднее число детей</td>
            <td align="center">@STAT_5_1@</td>
            <td align="center">@STAT_5_2@</td>
            <td align="center">@STAT_5_3@</td>
          </tr>
          </tbody>
        </table>
        <br>
        <table id="stat2" class="table table-striped table-bordered" style="width:100%">
          <thead>
          <tr>
            <th></th>
            <th align="center">Всего</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Общее число семей</td>
            <td align="center">@STAT_6@</td>
          </tr>
          <tr>
            <td>&nbsp;&nbsp;&nbsp;Из них в разводе</td>
            <td align="center">@STAT_6_1@</td>
          </tr>
          <tr>
            <td>&nbsp;&nbsp;&nbsp;Брак не зарегистрирован</td>
            <td align="center">@STAT_6_2@</td>
          </tr>
          <tr>
            <td>&nbsp;&nbsp;&nbsp;Брак зарегистрирован</td>
            <td align="center">@STAT_6_3@</td>
          </tr>
          <tr>
            <td>Общее число событий</td>
            <td align="center">@STAT_7@</td>
          </tr>
          <tr>
            <td>Общее число документов</td>
            <td align="center">@STAT_8@</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- End Content -->

  <!-- Start Footer -->
  <footer class="@FOOTER_SHOW@">
    <div class="container">
      <!-- Start Copyright -->
      <div class="copyright-section">
        <div class="row">
          <div class="col-xs-12">
            <p>Сайт создан с помощью программы <a href="https://generatree.com/ru">«Дерево Поколений»</a></p>
          </div>
        </div>
      </div>
      <!-- End Copyright -->
    </div>
  </footer>
  <!-- End Footer -->

</div>
<!-- End Container -->

<!-- Go To Top Link -->
<a href="#" class="back-to-top" title="Наверх"><i class="fa fa-angle-up"></i></a>

<!-- build:js js/vendors.min.js -->
<!-- inject:js -->

<script src="js/jquery-3.5.1.min.js"></script>

<script src="asset/js/bootstrap.3.4.1.min.js"></script>

<script src="js/jquery.dataTables.min.js"></script>

<script src="asset/js/dataTables.bootstrap.min.js"></script>

<script src="asset/js/dataTables.colReorder.min.js"></script>

<script src="asset/js/dataTables.responsive.min.js"></script>

<script src="asset/js/responsive.bootstrap.min.js"></script>

<script src="asset/js/dataTables.select.min.js"></script>

<script src="asset/js/dataTables.buttons.min.js"></script>

<script src="asset/js/buttons.colVis.min.js"></script>

<script src="asset/js/dataTables.rowGroup.min.js"></script>

<!-- endinject -->
<!-- endbuild -->

<!-- build:js js/scripts.min.js -->
<script src="js/scripts.js"></script>
<!-- endbuild -->

</body>

</html>
