<!DOCTYPE html>
<html lang="ru">
<head>
  <!-- Basic -->
  <title>My Generations Tree | Person</title>
  <!-- Define Charset -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Responsive Metatag -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- Page Description and Author -->
  <meta name="description" content="Family Tree. The site was created using the 'Generation Tree' program.">
  <meta name="author" content="Generations Tree">

  <!-- Bootstrap CSS  -->
  <link rel="stylesheet" href="asset/css/bootstrap.min.css" type="text/css" media="screen">
  <!-- DataTables Bootstrap CSS  -->
  <link rel="stylesheet" href="asset/css/dataTables.bootstrap.min.css" type="text/css" media="screen">
  <link rel="stylesheet" href="asset/css/colReorder.bootstrap.min.css" type="text/css" media="screen">
  <link rel="stylesheet" href="asset/css/select.dataTables.min.css" type="text/css" media="screen">
  <link rel="stylesheet" href="asset/css/buttons.dataTables.min.css" type="text/css" media="screen">
  <link rel="stylesheet" href="asset/css/rowGroup.dataTables.min.css" type="text/css" media="screen">
  <!-- Material Design Switch  -->
  <link rel="stylesheet" type="text/css" href="css/mat-switch.css" media="screen">
  <!-- Font Awesome CSS -->
  <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" media="screen">
  <!-- Generations Tree CSS Styles  -->
  <link rel="stylesheet" type="text/css" href="css/style.css" media="screen">
  <!-- Responsive CSS Styles  -->
  <link rel="stylesheet" type="text/css" href="css/responsive.css" media="screen">
  <!-- Color CSS Styles  -->
  <link rel="stylesheet" type="text/css" href="css/yellow.css" title="yellow" media="screen" />
  <link rel="shortcut icon" href="../images/gt_icon.png">

  <!-- Generations Tree JS  -->
  <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="asset/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/owl.carousel.min.js"></script>
  <script type="text/javascript" src="js/jquery.appear.js"></script>
  <script type="text/javascript" src="js/count-to.js"></script>
  <script type="text/javascript" src="js/jquery.nicescroll.min.js"></script>
  <script type="text/javascript" src="js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="asset/js/dataTables.bootstrap.min.js"></script>
  <script type="text/javascript" src="asset/js/dataTables.colReorder.min.js"></script>
  <script type="text/javascript" src="asset/js/dataTables.select.min.js"></script>
  <script type="text/javascript" src="asset/js/buttons.colVis.min.js"></script>
  <script type="text/javascript" src="asset/js/dataTables.rowGroup.min.js"></script>
  <script type="text/javascript" src="js/table.init.js"></script>
  <script type="text/javascript" src="js/script.min.js"></script>

  <!--[if IE 8]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

</head>

<body>

  <!-- Container  class="boxed-page"-->
  <div id="container">

    <!-- Start Page Banner -->
    <div class="page-banner_modal no-subtitle">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <h2>@DISPLAY_NAME@</h2> 
            <p>Person Card</p>
          </div>
          <div class="col-md-3">
          </div>
        </div>
      </div>
    </div>
    <!-- End Page Banner -->


    <!-- Start Content -->
    <div id="content">
      <div class="container">
        <div class="page-content">

        <div class="row">
			<div class="col-md-4">
            <!-- Classic Heading -->
            <h4 class="classic-title"><span>Photo</span></h4>

			<!-- Start Foto Slider -->
            <!--<div align="center">
				<div class="touch-slider" data-slider-navigation="false" data-slider-pagination="false" data-slider-progress-bar="true" style="width: 250px;">
				    <div class="item"><img alt="" width="250" height="333" src="images/men.png"></div> 
				</div>
			</div>-->
            <!-- End Foto Slider -->
			<!-- Start Foto Slider -->
            <div align="center">
				<div class="touch-slider" data-slider-navigation="@SLIDER_FLAG_1@" data-slider-pagination="@SLIDER_FLAG_1@" data-slider-progress-bar="@SLIDER_FLAG_2@" style="width: 250px;">
				    @PERS_FOTO_LIST@ 
				</div>
			</div>
            <!-- End Foto Slider -->
			</div>

			<div class="col-md-8">
            <!-- Classic Heading -->
            <h4 class="classic-title"><span>General information</span></h4>

            <form role="form" class="contact-form" id="contact-form" method="post">
              <div class="row">
				<div class="col-md-4">
					<div class="form-group controls">
						<label for="last_name"><b>Last name</b></label>
						<input type="text" placeholder="" id="last_name" value="@LAST_NAME@" readonly> 
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group controls">
						<label for="first_name"><b>First Name</b></label>
						<input type="text" placeholder="" id="first_name" value="@FIRST_NAME@" readonly> 
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group controls">
						<label for="middle_name"><b>Middle name</b></label>
						<input type="text" placeholder="" id="middle_name" value="@MIDDLE_NAME@" readonly>
					</div>
				</div>
			  </div>
              <div class="row">
				<div class="col-md-4">
					<div class="form-group controls">
						<label for="birth_name"><b>Last name at birth</b></label>
						<input type="text" placeholder="" id="birth_name" value="@BIRTH_NAME@" readonly>
					</div>
				</div>
 			  </div>
              <div class="row">
				<div class="col-md-4">
					<div class="form-group controls">
						<label for="birth_date"><b>Date of Birth</b></label>
						<input type="text" placeholder="" id="birth_date" value="@BIRTH_DATE@" readonly>
					</div>
				</div>
				<div class="col-md-8">
					<div class="form-group controls">
						<label for="birth_place"><b>Place of Birth</b></label>
						<input type="text" placeholder="" id="birth_place" value="@BIRTH_PLACE@" readonly>
					</div>
				</div>
			  </div>
			  <div class="form-group">
				<div class="controls" style="width: 150px;">
					<b>Alive</b>
					<div class="material-switch pull-right">
						<input id="is_life" name="is_life" type="checkbox" @IS_LIFE@ disabled />
						<label for="is_life" class="label-warning"></label>
					</div>
				</div>
			  </div>
              <div class="row">
				<div class="col-md-4">
					<div class="form-group controls @VISIBLE_DEAD_SEC@">
						<label for="dead_date"><b>Date of Death</b></label>
						<input type="text" placeholder="" id="dead_date" value="@DEATH_DATE@" readonly>
					</div>
				</div>
				<div class="col-md-8">
					<div class="form-group controls @VISIBLE_DEAD_SEC@">
						<label for="dead_place"><b>Place of Death</b></label>
						<input type="text" placeholder="" id="dead_place" value="@DEATH_PLACE@" readonly>
					</div>
				</div>
			  </div>
            </form>
		  </div>
        </div>

 		<!-- Разделитель -->
        <div class="hr5" style=" margin-top:15px; margin-bottom:15px;"></div>

		<!-- Разделы -->
        <div class="panel-group">
            <!-- Начало раздела "Родственные связи" -->
            <div class="panel panel-default ">
                <div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse-1">
							<i class="fa fa-angle-up control-icon"></i>
							<i class="fa fa-venus-mars"></i> Family ties
						</a>
					</h4>
                </div>
                <div id="collapse-1" class="panel-collapse collapse in">
                  <div class="panel-body">
					<!-- Начало родственных связей -->
					<div class="row vdivide">
						<div class="col-md-6 col-vd">
        					<div class="row hor-shift">
								<div class="form-group controls">
									<label for="father"><b>Father:</b></label>
									@FATHER_BUTTON@
									<!--<button id="father" type="button" class="btn btn-link" onclick="location.href = 'person_23.html';" title="Открыть карточку персоны">Иванов Матвей</button>-->
								</div>
							</div>
        					<div class="row hor-shift">
								<div class="form-group controls">
									<label for="mother"><b>Mother:</b></label>
									@MOTHER_BUTTON@
									<!--<button id="mother" type="button" class="btn btn-link" onclick="location.href = 'person_24.html';" title="Открыть карточку персоны">Иванова Розалия</button>-->
								</div>
							</div>
						</div>
						<div class="col-md-6 col-vd">
									@SPOUSES_LIST@
						</div>
					</div>
					<!-- Конец раздела "Родственные связи" -->
				  </div>
                </div>
              </div>
			  <!-- Конец раздела "Родственные связи" -->

              <!-- Начало раздела "Свойства персоны" -->
              <div class="panel panel-default ">
                <div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse-2" class="collapsed">
							<i class="fa fa-angle-down control-icon"></i>
							<i class="fa fa-cog"></i> Personal data
						</a>
					</h4>
                </div>
                <div id="collapse-2" class="panel-collapse collapse">
					<div class="row" style="padding-left: 15px; padding-right: 15px;">
						<div class="col-md-12">
						<table id="factsNew" class="table table-striped table-bordered" style="width:100%">
							<thead>
								<tr>
									<th>Data field</th>
									<th>Value</th>
									<th>Category</th>
								</tr>
							</thead>
							<tbody>
								@PERS_FACT_LIST@	
							</tbody>
						</table>
						</div>
					</div>
                </div>
              </div>
              <!-- Конец раздела "Родственные связи" -->

              <!-- Начало раздела "Описание" -->
              <div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse-3" class="collapsed">
							<i class="fa fa-angle-down control-icon"></i>
							<i class="fa fa-file-text-o"></i> Description of the person
						</a>
					</h4>
                </div>
                <div id="collapse-3" class="panel-collapse collapse">
					<div class="panel-body">
						<form role="form" class="contact-form" id="contact-form" method="post">
							<div class="form-group controls">
								<textarea rows="7" placeholder="" name="message" readonly>@PERS_NOTES@</textarea> <!--Длинное описание-->
							</div>
						</form>
					</div>
                </div>
              </div>
              <!-- Конец раздела "Описание" -->

            </div>
            <!-- End Toggle -->

			<!-- Начало раздела События -->
			<div class="latest-posts " style="margin-top:25px;">
				<h4 class="classic-title"><span>Events</span></h4>
				<div class="row">
					<div class="col-md-12">
					<table id="pers_event" class="table table-striped table-bordered" style="width:100%">
						<thead>
							<tr>
								<th>Event type</th>
								<th>Date</th>
								<th>Place</th>
							</tr>
						</thead>
						<tbody>
						    @PERS_EVEN_LIST@
						</tbody>
					</table>
					</div>
				</div>
			</div>
			<!-- Конец раздела События -->

        </div>
      </div>
    </div>
    <!-- End Content -->


  </div>
  <!-- End Container -->

</body>

</html>
