:root {
  --color-accent: #6a3da3;
  --color-accent-light: rgba(106, 61, 163, 0.5);
  --color-accent-lighter: rgba(106, 61, 163, 0.1);
  --color-danger: #d33333;
  --color-border: #ccc;
  --color-gray-lightest: #eee;
  --color-gray-light: #999;
  --color-gray-dark: #666;
}
